*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafaff;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding-top: 5em;
  padding: 0 2em;
}

.section-margin {
  margin-top: 3rem;
}

.header {
  background-color: #f0f1f3;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
}

.header__logo {
  color: grey;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.header__logo:visited {
  color: transparent;
}

.header__logo:hover {
  color: #e55947;
}

.navigation__icon {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
}

.navigation__hamburger {
  padding: 0.5em;
  border: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
}

.hero {
  background-color: #f0f1f3;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__text {
  text-align: center;
}

.hero__heading {
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.hero__special {
  display: block;
  font-size: 1rem;
  letter-spacing: 4px;
}

.hero__picture {
  width: 135px;
}

.hero__button {
  margin-top: 0.5rem;
  padding: 0.3em 0.6em;
  cursor: pointer;
  border: none;
  background-color: #e55947;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 375px) {
  .hero__heading {
    margin-top: 1rem;
    font-size: 2.5rem;
    letter-spacing: 6px;
  }
  .hero__special {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .hero__picture {
    width: 130px;
  }
  .hero__button {
    padding: 0.5em 1em;
  }
}

@media (min-width: 390px) {
  .hero__heading {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 6px;
  }
  .hero__special {
    font-size: 2rem;
    letter-spacing: 4px;
  }
  .hero__picture {
    width: 140px;
  }
  .hero__button {
    padding: 0.5em 1em;
  }
}

@media (min-width: 500px) {
  .hero__heading {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 6px;
  }
  .hero__special {
    font-size: 2rem;
    letter-spacing: 4px;
  }
  .hero__picture {
    width: 150px;
  }
  .hero__button {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .hero__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__heading {
    margin-top: 2rem;
    font-size: 4rem;
    letter-spacing: 10px;
  }
  .hero__special {
    margin-top: 0.5rem;
    font-size: 2rem;
    letter-spacing: 7px;
  }
  .hero__picture {
    width: 250px;
  }
  .hero__button {
    margin-top: 2rem;
    padding: 0.5em 1em;
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .hero__heading {
    font-size: 6rem;
    letter-spacing: 10px;
  }
  .hero__special {
    margin-top: 1rem;
    font-size: 4rem;
    letter-spacing: 7px;
  }
  .hero__picture {
    width: 300px;
  }
  .hero__button {
    padding: 0.5em 1em;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 976px) {
  .hero__heading {
    margin-top: 3rem;
    font-size: 7rem;
    letter-spacing: 20px;
  }
  .hero__special {
    font-size: 4rem;
  }
  .hero__picture {
    width: 300px;
  }
  .hero__button {
    padding: 0.7em 1.3em;
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .hero__heading {
    margin-top: 5rem;
    font-size: 7rem;
    letter-spacing: 20px;
  }
  .hero__special {
    font-size: 5rem;
    letter-spacing: 10px;
  }
  .hero__picture {
    width: 400px;
  }
  .hero__button {
    font-size: 2rem;
  }
}

.gender__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f1f3;
  margin: 1rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gender__box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gender__picture {
  max-width: 100px;
}

.gender__picture--special {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gender__text {
  padding: 3rem;
}

.gender__category {
  text-transform: uppercase;
  font-size: 1rem;
  color: grey;
}

.gender__type {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.gender__collation {
  text-decoration: none;
  color: grey;
}

.gender__collation:visited {
  color: transparent;
}

.gender__collation:hover {
  color: #e55947;
}

@media (min-width: 440px) {
  .gender__box {
    width: 350px;
  }
  .gender__category {
    font-size: 1.4rem;
  }
  .gender__type {
    font-size: 1.1rem;
  }
  .gender__collation {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .gender__box {
    width: 400px;
  }
  .gender__category {
    font-size: 1.5rem;
  }
  .gender__type {
    font-size: 1.2rem;
  }
  .gender__collation {
    font-size: 0.8rem;
  }
}

@media (min-width: 776px) {
  .gender__box {
    width: 500px;
  }
  .gender__category {
    font-size: 1.5rem;
  }
  .gender__type {
    font-size: 1.2rem;
  }
  .gender__collation {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .gender__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gender__box {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .gender__box {
    width: 500px;
  }
  .gender__category {
    font-size: 2rem;
  }
  .gender__type {
    font-size: 1.5rem;
  }
  .gender__collation {
    font-size: 1rem;
  }
}

.awarded {
  text-align: center;
}

.awarded__heading {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.awarded__link {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: grey;
}

.awarded__link:visited {
  color: transparent;
}

.awarded__link:hover {
  color: #e55947;
}

.awarded__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awarded__image {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 280px;
  background-color: #f0f1f3;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.awarded__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.awarded__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4em 0.8em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e55947;
  color: #fafaff;
}

.awarded__picture {
  width: 200px;
}

.awarded__text {
  margin-bottom: 1rem;
}

.awarded__title {
  font-size: 1rem;
}

.awarded__price {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: grey;
}

@media (min-width: 576px) {
  .awarded__heading {
    font-size: 1.5rem;
  }
  .awarded__link {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .awarded__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awarded__image {
    width: 400px;
  }
  .awarded__icon {
    font-size: 1rem;
  }
  .awarded__picture {
    width: 300px;
  }
  .awarded__title {
    font-size: 1.3rem;
  }
  .awarded__price {
    margin-bottom: rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 776px) {
  .awarded__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .awarded__image {
    width: 250px;
  }
  .awarded__picture {
    width: 200px;
  }
}

.special {
  position: relative;
  height: 40vh;
  background-image: url("../img/offer.jpg");
  background-size: cover;
  background-position: 50% 70%;
  background-attachment: fixed;
  z-index: 0;
}

.special__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -100;
}

.special__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #fafaff;
}

.special__heading {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.special__description {
  font-size: 0.8rem;
}

.special__button {
  margin-top: 1rem;
  padding: 0.5em 1em;
  border: none;
  background-color: #e55947;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 400px) {
  .special__heading {
    font-size: 2rem;
  }
  .special__description {
    font-size: 1rem;
  }
  .special__button {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .special__heading {
    font-size: 2.2rem;
  }
  .special__description {
    font-size: 1.5rem;
  }
  .special__button {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .special__heading {
    font-size: 3rem;
  }
  .special__descripion {
    font-size: 2rem;
  }
  .special__button {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .special__heading {
    font-size: 3rem;
  }
  .special__description {
    font-size: 2rem;
  }
}

.items {
  text-align: center;
}

.items__heading {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.items__link {
  margin-bottom: 2rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: grey;
}

.items__link:visited {
  color: transparent;
}

.items__link:hover {
  color: #e55947;
}

.items__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  background-color: #f0f1f3;
}

.items__button {
  position: absolute;
  bottom: 1.5rem;
  padding: 0.5em 1em;
  border: none;
  background-color: #e55947;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 576px) {
  .items__heading {
    font-size: 1.5rem;
  }
  .items__link {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */