.gender {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__box {
		display: flex;
		justify-content: center;
		background-color: $dark-light-color;
		margin: 1rem;
	}
	&__picture {
		max-width: 100px;
		&--special {
			order: 1;
		}
	}
	&__text {
		padding: 3rem;
	}
	&__category {
		text-transform: uppercase;
		font-size: 1rem;
		color: grey;
	}
	&__type {
		margin-bottom: 1rem;
		font-size: 0.9rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__collation {
		@include link;
	}
}

@media (min-width: 440px) {
	.gender {
		&__box {
			width: 350px;
		}
		&__category {
			font-size: 1.4rem;
		}
		&__type {
			font-size: 1.1rem;
		}
		&__collation {
			font-size: 0.8rem;
		}
	}
}

@media (min-width: 576px) {
	.gender {
		&__box {
			width: 400px;
		}
		&__category {
			font-size: 1.5rem;
		}
		&__type {
			font-size: 1.2rem;
		}
		&__collation {
			font-size: 0.8rem;
		}
	}
}

@media (min-width: 776px) {
	.gender {
		&__box {
			width: 500px;
		}
		&__category {
			font-size: 1.5rem;
		}
		&__type {
			font-size: 1.2rem;
		}
		&__collation {
			font-size: 0.8rem;
		}
	}
}

@media (min-width: 992px) {
	.gender {
		&__container {
			justify-content: space-around;
		}
		&__box {
			width: 400px;
		}
	}
}

@media (min-width: 1200px) {
	.gender {
		&__box {
			width: 500px;
		}
		&__category {
			font-size: 2rem;
		}
		&__type {
			font-size: 1.5rem;
		}
		&__collation {
			font-size: 1rem;
		}
	}
}
