*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding-top: 5em;
	padding: 0 2em;
}

.section-margin {
	margin-top: 3rem;
}

@mixin linkColor {
	color: $grey;
	text-decoration: none;
	font-weight: bold;
	&:visited {
		color: transparent;
	}
	&:hover {
		color: $orange;
	}
}

@mixin buttonColor {
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	background-color: $orange;
}

@mixin link {
	text-decoration: none;
	color: $grey;
	&:visited {
		color: transparent;
	}
	&:hover {
		color: $orange;
	}
}

@mixin buttonColor {
	border: none;
	background-color: $orange;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
